/* propiedades de las imagenes del inicio */
.fondoInicio {
    background-color: rgb(177, 204, 201);
}
.imagenInicio {
    width: 450px;
    height: 888px;
}

.titulo {
    font-size: 4rem;
    color: red;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}